**/__pycache__/
*.pyc
*.pyo
*.pyd
/ckpt/*
/ckpt/densepose/

*.pkl
*.onnx
*.pth

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

package-lock.json
yarn.lock
pnpm-lock.yaml

.env

# Build output
/dist
/build

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-*
.DS_Store

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp
.cache/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

